In [1]:
import pandas as pd

# Cek versi
print(pd.__version__)

1.3.4

In [2]:
#Dataframe kali ini berupa daftar antrian antara dokter dan pasien yang dibuat menggunakan dictionary.

d = {'dokter':['Budi', 'Wati', 'Iwan', 'Budi', 'Budi', 'Wati'], 
     'pasien':['Abdul', 'Rahmat', 'Asep', 'Joko', 'Wiwin', 'Lisa']}

df = pd.DataFrame(d)
df

  dokter  pasien
0   Budi   Abdul
1   Wati  Rahmat
2   Iwan    Asep
3   Budi    Joko
4   Budi   Wiwin
5   Wati    Lisa

# Mengenal Fungsi Agregasi First() dan Last()

Pertama akan kita kelompokkan berdasarkan dokter (ada 3).
Kemudian menghitung jumlah pasien untuk setiap dokter menggunakan fungsi agregasi count().
Kemudian menampilkan pasien pertama untuk setiap dokter menggunakan fungsi agregasi first().
Terakhir menampilkan pasien terakhir untuk setiap dokter menggunakan fungsi agregasi last().

In [3]:
df.groupby('dokter')['pasien'].count().to_frame()

        pasien
dokter
Budi         3
Iwan         1
Wati         2