In [1]:
import pandas as pd

# Cek versi
print(pd.__version__)

1.3.4

In [3]:
# Membuat dataframe superheroes yang terbagi dalam Tim DC dan Tim Marvel

d = {'Team':['DC', 'Marvel'], 
     'Heroes':[['Batman', 'Superman', 'Wonder Woman', 'Aquaman', 'Green Lantern', 'Shazam'], 
               ['Iron Man', 'Captain America', 'Ant-Man', 'Black Panther', 'Captain Marvel']]}

df = pd.DataFrame(d)
df

     Team                                             Heroes
0      DC  [Batman, Superman, Wonder Woman, Aquaman, Gree...
1  Marvel  [Iron Man, Captain America, Ant-Man, Black Pan...

# Explode

In [4]:
#Hasil explode ditampung kedalam variabel baru
#Kolom heroes kita explode sehingga memiliki baris terpisah
df1 = df.explode('Heroes')
df1

     Team           Heroes
0      DC           Batman
0      DC         Superman
0      DC     Wonder Woman
0      DC          Aquaman
0      DC    Green Lantern
0      DC           Shazam
1  Marvel         Iron Man
1  Marvel  Captain America
1  Marvel          Ant-Man
1  Marvel    Black Panther
1  Marvel   Captain Marvel

# Implode

Implode merupakan kebalikan dari explode, yaitu berfungsi untuk menyatukan kembali menjadi suatu list.
Kita membuat df2 yang hanya berisi kolom tim DC dan tim Marvel, lalu pada bagian df1 kita kelompokkan berdasarkan indexnya yaitu 0 dan 1, lalu kolom heroes kita agresi menjadi suatu list, dan masukan ke df2.

In [5]:
d = {'Team':['DC', 'Marvel']}
df2 = pd.DataFrame(d)
df2

     Team
0      DC
1  Marvel

In [6]:
df2['Imploded'] = df1.groupby(df1.index)['Heroes'].agg(list)
df2

     Team                                           Imploded
0      DC  [Batman, Superman, Wonder Woman, Aquaman, Gree...
1  Marvel  [Iron Man, Captain America, Ant-Man, Black Pan...